# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.dist/
.build/
.svelte-kit/

# Environment (importado do .secrets)
.env
!.env.example

# Cloudflare
.wrangler/
.dev.vars

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Git
!.gitkeep