JWT_SECRET=dev-secret-change-in-production-min32chars
FRONTEND_URL=http://localhost:5173

USUARIO_1=elissnsilveira
SENHA_1=padrao123
NOME_1=Elissandra

USUARIO_2=sarasilvee
SENHA_2=padrao123
NOME_2=Sara

USUARIO_3=sirneysilvee
SENHA_3=padrao123
NOME_3=Sirney

USUARIO_4=luisneves
SENHA_4=padrao123
NOME_4=Luis